body {
    padding-top: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    margin-bottom: 25px;
}

.info {
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.subheading {
    margin-bottom: 10px;
}

form {
    width: 325px;
}

.bottom {
    margin-bottom: 30px;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.btn {
    width: 100%;
}