<!DOCTYPE html>
<html>
<head>
    <title>Transaction Successful</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

    <link href="./css/transaction.css" rel="stylesheet" />
</head>
<body>
    <h1 class="heading">Transaction Successful</h1>
    <p class="description green">Your transaction has been completed successfully.</p>
    <a href="/home">Back to Landing Page</a>
</body>
</html>
